<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript">
            function post(){
                //Send Post Request
                var form = document.createElement("form");
                form.action = "/run_experiment";
                form.method = "POST"
                form.enctype = 'multipart/form-data'

                

                var script = document.createElement('input');
                script.type = "hidden";
                script.name = "script";
                script.value = document.getElementById("script").files[0];
                form.appendChild(document.getElementById('script'))

                document.body.appendChild(form)
                form.submit()
                
            }
        </script>
    </head>

    <body style="text-align: center;">
        
        <h1 style="text-align: center;">Welcome to Remote Robot Experiment System</h1><br>

        <h3>Upload your experiment script</h3>
        <input id="script" name="script"type="file"><br><br>

        <input type="button" value="RUN" onclick="post()"><br><br>

        <iframe src='http://localhost:8080/stream?topic=/camera1/color/image_raw&type=ros_compressed' width='640' height="480"></iframe>
        <iframe src='http://localhost:8080/stream?topic=/camera0/color/image_raw&type=ros_compressed' width='640' height="480"></iframe>
        <iframe src='http://localhost:8080/stream?topic=/camera2/color/image_raw&type=ros_compressed' width='640' height="480"></iframe>


        
    </body>
</html>