<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf-8">
            //var socket = io();
            var socket = io.connect(null, {port: 5000, rememberTransport: false});
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });
        </script>
        <script type="text/javascript">
            function get(){
                //Send Post Request
                var form = document.createElement("form");
                form.action = "/stop_experiment";
                form.method = "GET"
                //form.enctype = 'multipart/form-data'

                document.body.appendChild(form)
                form.submit()
                
            }
        </script>
    </head>

    <body style="text-align: center;">
        
        <h1 style="text-align: center;">Welcome to Remote Robot Experiment System</h1><br>
        

        <input type="button" value="STOP" onclick="get()"><br><br>
        <iframe src='http://localhost:8080/stream?topic=/camera1/color/image_raw&type=ros_compressed' width='640' height="480"></iframe>
        <iframe src='http://localhost:8080/stream?topic=/camera0/color/image_raw&type=ros_compressed' width='640' height="480"></iframe>
        <iframe src='http://localhost:8080/stream?topic=/camera2/color/image_raw&type=ros_compressed' width='640' height="480"></iframe>



        
    </body>
</html>